#root {
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 768px) {
  body, #root {
    transform: rotate(90deg);
    transform-origin: top left;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
}